.text-xl {
    font-size: 2rem;
    padding: 1rem;
}

.text-lg {
    font-size: 1.5rem;
    padding: 0.75rem;
}

.text-md {
    font-size: 1rem;
    padding: 0.5rem;
}

.text-sm {
    font-size: 0.6rem;
    padding: 0.3rem;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.UP {
    text-transform: uppercase;
}

.tp-0_5 {
    padding: 0.5rem;
}

.tp-1 {
    padding: 1rem;
}

.tp-1_5 {
    padding: 1.5rem;
}

.tp-2 {
    padding: 2rem;
}

.tp-2_5 {
    padding: 2.5rem;
}

.tp-3 {
    padding: 3rem;
}

.tm-0_5 {
    margin: 0.5rem;
}

.tm-1 {
    margin: 1rem;
}

.tm-1_5 {
    margin: 1.5rem;
}

.tm-2 {
    margin: 2rem;
}

.tm-2_5 {
    margin: 2.5rem;
}

.tm-3 {
    margin: 3rem;
}

.tm-3_5 {
    margin: 3.5rem;
}

.btn {
    margin: 0.25rem 0;
    display: inline-block;
    font-weight: 500;
    color: #f8f9f7;
    font-family: inherit;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none;
    box-shadow: 0 1px 2px #000000;
}

.btn-prim-c {
    background-color: #1177ff;
    transition: all 0.5s ease;
}

.btn-prim-c:hover {
    transition: all 0.5s ease;
    background-color: #005fdd;
    color: #f8f9f7;
    box-shadow: 0 1px 20px #000000;
}

.btn-secondary-c {
    background-color: #9daaa0;
    transition: all 0.5s ease;
}

.btn-secondary-c:hover {
    transition: all 0.5s ease;
    background-color: #829286;
    color: #f8f9f7;
}

.btn-success-c {
    background-color: #22aa44;
    transition: all 0.5s ease;
}

.btn-success-c:hover {
    transition: all 0.5s ease;
    background-color: #1a8033;
    color: #f8f9f7;
}

.btn-danger-c {
    background-color: #cc3b3b;
    transition: all 0.5s ease;
}

.btn-danger-c:hover {
    transition: all 0.5s ease;
    background-color: #a82c2c;
    color: #f8f9f7;
}

.btn-warning-c {
    background-color: #ffbb33;
    transition: all 0.5s ease;
    color: #0a000e;
    transition: all 0.5s ease;
}

.btn-warning-c:hover {
    transition: all 0.5s ease;
    background-color: #ffaa00;
    color: #f8f9f7;
}

.btn-info-c {
    background-color: #11a2b2;
    transition: all 0.5s ease;
}

.btn-info-c:hover {
    transition: all 0.5s ease;
    background-color: #0d7883;
    color: #f8f9f7;
}

.btn-light-c {
    background-color: #f8f9f7;
    transition: all 0.5s ease;
    color: #0a000e;
    transition: all 0.5s ease;
}

.btn-light-c:hover {
    transition: all 0.5s ease;
    background-color: #dfe3da;
    color: #f8f9f7;
}

.btn-dark-c {
    background-color: #0a000e;
    transition: all 0.5s ease;
}

.btn-dark-c:hover {
    transition: all 0.5s ease;
    background-color: black;
    color: #f8f9f7;
}

.btn-link-c {
    background-color: #1177ff;
    transition: all 0.5s ease;
    background-color: transparent;
    color: #1177ff;
    transition: all 0.5s ease;
}

.btn-link-c:hover {
    transition: all 0.5s ease;
    background-color: #005fdd;
    color: #f8f9f7;
    background-color: transparent;
    color: #005fdd;
    text-decoration: underline;
    transition: all 0.5s ease;
}

.btn-outline-prim-c {
    color: #1177ff;
    border: 1px solid #1177ff;
    transition: all 0.5s ease;
}

.btn-outline-prim-c:hover {
    transition: all 0.5s ease;
    background-color: #1177ff;
    color: #f8f9f7;
}

.btn-outline-secondary-c {
    color: #9daaa0;
    border: 1px solid #9daaa0;
    transition: all 0.5s ease;
}

.btn-outline-secondary-c:hover {
    transition: all 0.5s ease;
    background-color: #9daaa0;
    color: #f8f9f7;
}

.btn-outline-success-c {
    color: #22aa44;
    border: 1px solid #22aa44;
    transition: all 0.5s ease;
}

.btn-outline-success-c:hover {
    transition: all 0.5s ease;
    background-color: #22aa44;
    color: #f8f9f7;
}

.btn-outline-danger-c {
    color: #cc3b3b;
    border: 1px solid #cc3b3b;
    transition: all 0.5s ease;
}

.btn-outline-danger-c:hover {
    transition: all 0.5s ease;
    background-color: #cc3b3b;
    color: #f8f9f7;
}

.btn-outline-warning-c {
    color: #ffbb33;
    border: 1px solid #ffbb33;
    transition: all 0.5s ease;
}

.btn-outline-warning-c:hover {
    transition: all 0.5s ease;
    background-color: #ffbb33;
    color: #f8f9f7;
    color: black;
    transition: all 0.5s ease;
}

.btn-outline-info-c {
    color: #11a2b2;
    border: 1px solid #11a2b2;
    transition: all 0.5s ease;
}

.btn-outline-info-c:hover {
    transition: all 0.5s ease;
    background-color: #11a2b2;
    color: #f8f9f7;
}

.btn-outline-light-c {
    color: #f8f9f7;
    border: 1px solid #f8f9f7;
    transition: all 0.5s ease;
    color: #131510;
}

.btn-outline-light-c:hover {
    transition: all 0.5s ease;
    background-color: #f8f9f7;
    color: #f8f9f7;
    background-color: #dfe3da;
    color: #f8f9f7;
}

.btn-outline-dark-c {
    color: #0a000e;
    border: 1px solid #0a000e;
    transition: all 0.5s ease;
}

.btn-outline-dark-c:hover {
    transition: all 0.5s ease;
    background-color: #0a000e;
    color: #f8f9f7;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-sm {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.1rem;
    border-radius: 0.1rem;
}

.btn-block {
    width: 100%;
}

.btn-group {
    margin: 0 0.25rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group-toggle>.btn input[type="checkbox"],
.btn-group-toggle>.btn input[type="radio"],
.btn-group-toggle>.btn-group>.btn input[type="checkbox"],
.btn-group-toggle>.btn-group>.btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

a.btn-Neon {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: inherit;
    transition: 0.5s;
}

a.btn-Neon-Red {
    color: #f40303;
    background-color: transparent;
}

a.btn-Neon-Red:hover {
    transition: all 0.5s ease-in-out;
    color: #050810;
    background-color: #f40303;
    box-shadow: 0 0 5px #f40303, 0 0 25px #f40303, 0 0 50px #f40303, 0 0 200px #f40303;
}

a.btn-Neon-Red span.neon {
    position: absolute;
    display: block;
}

a.btn-Neon-Red span.neon:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #f40303);
    animation: NeonHorizontal 1s linear infinite;
}

a.btn-Neon-Red span.neon:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f40303);
    animation: NeonVertical 1s 1.5s linear infinite;
}

a.btn-Neon-Red span.neon:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #f40303);
    animation: NeonHorizontal 1s 2s linear infinite reverse;
}

a.btn-Neon-Red span.neon:nth-child(4) {
    top: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f40303);
    animation: NeonVertical 1s 2.5s linear infinite reverse;
}

a.btn-Neon-Blue {
    color: #032ff4;
    background-color: transparent;
}

a.btn-Neon-Blue:hover {
    transition: all 0.5s ease-in-out;
    color: #050810;
    background-color: #032ff4;
    box-shadow: 0 0 5px #032ff4, 0 0 25px #032ff4, 0 0 50px #032ff4, 0 0 200px #032ff4;
}

a.btn-Neon-Blue span.neon {
    position: absolute;
    display: block;
}

a.btn-Neon-Blue span.neon:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #032ff4);
    animation: NeonHorizontal 1s linear infinite;
}

a.btn-Neon-Blue span.neon:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #032ff4);
    animation: NeonVertical 1s 1.5s linear infinite;
}

a.btn-Neon-Blue span.neon:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #032ff4);
    animation: NeonHorizontal 1s 2s linear infinite reverse;
}

a.btn-Neon-Blue span.neon:nth-child(4) {
    top: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #032ff4);
    animation: NeonVertical 1s 2.5s linear infinite reverse;
}

a.btn-Neon-Green {
    color: #03f423;
    background-color: transparent;
}

a.btn-Neon-Green:hover {
    transition: all 0.5s ease-in-out;
    color: #050810;
    background-color: #03f423;
    box-shadow: 0 0 5px #03f423, 0 0 25px #03f423, 0 0 50px #03f423, 0 0 200px #03f423;
}

a.btn-Neon-Green span.neon {
    position: absolute;
    display: block;
}

a.btn-Neon-Green span.neon:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #03f423);
    animation: NeonHorizontal 1s linear infinite;
}

a.btn-Neon-Green span.neon:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03f423);
    animation: NeonVertical 1s 1.5s linear infinite;
}

a.btn-Neon-Green span.neon:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #03f423);
    animation: NeonHorizontal 1s 2s linear infinite reverse;
}

a.btn-Neon-Green span.neon:nth-child(4) {
    top: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03f423);
    animation: NeonVertical 1s 2.5s linear infinite reverse;
}

a.btn-Neon-Yellow {
    color: #f0f403;
    background-color: transparent;
}

a.btn-Neon-Yellow:hover {
    transition: all 0.5s ease-in-out;
    color: #050810;
    background-color: #f0f403;
    box-shadow: 0 0 5px #f0f403, 0 0 25px #f0f403, 0 0 50px #f0f403, 0 0 200px #f0f403;
}

a.btn-Neon-Yellow span.neon {
    position: absolute;
    display: block;
}

a.btn-Neon-Yellow span.neon:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #f0f403);
    animation: NeonHorizontal 1s linear infinite;
}

a.btn-Neon-Yellow span.neon:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f0f403);
    animation: NeonVertical 1s 1.5s linear infinite;
}

a.btn-Neon-Yellow span.neon:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #f0f403);
    animation: NeonHorizontal 1s 2s linear infinite reverse;
}

a.btn-Neon-Yellow span.neon:nth-child(4) {
    top: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f0f403);
    animation: NeonVertical 1s 2.5s linear infinite reverse;
}

a.btn-Neon-White {
    color: #f8f9f7;
    background-color: #798a67;
}

a.btn-Neon-White:hover {
    background-color: #131510;
}

a.btn-Neon-White span.neon {
    position: absolute;
    display: block;
}

a.btn-Neon-White span.neon:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #f8f9f7);
    animation: NeonHorizontal 1s linear infinite;
}

a.btn-Neon-White span.neon:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f8f9f7);
    animation: NeonVertical 1s 1.5s linear infinite;
}

a.btn-Neon-White span.neon:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #f8f9f7);
    animation: NeonHorizontal 1s 2s linear infinite reverse;
}

a.btn-Neon-White span.neon:nth-child(4) {
    top: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f8f9f7);
    animation: NeonVertical 1s 2.5s linear infinite reverse;
}

@keyframes NeonHorizontal {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes NeonVertical {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

#Cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card-img-top {
    width: 100%;
}

.card-img-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-img-bg img {
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: -1;
}

.card-text-right {
    text-align: right;
}

.card-text-center {
    text-align: center;
}

.card-text-left {
    text-align: left;
}

.card-header {
    border: none;
    border-bottom: 1px solid rgba(10, 0, 14, 0.3);
    padding: 1rem 0.2rem;
    background-color: rgba(10, 0, 14, 0.1);
}

.card-footer {
    border: none;
    border-top: 1px solid rgba(10, 0, 14, 0.3);
    padding: 1rem 0.2rem;
    background-color: rgba(10, 0, 14, 0.1);
}

.card .card-body {
    padding: 0rem;
}

.card-prim-c {
    background-color: #1177ff;
    color: #f8f9f7;
}

.card-secondary-c {
    background-color: #9daaa0;
    color: #0a000e;
}

.card-success-c {
    background-color: #22aa44;
    color: #f8f9f7;
}

.card-danger-c {
    background-color: #cc3b3b;
    color: #f8f9f7;
}

.card-warning-c {
    background-color: #ffbb33;
    color: #0a000e;
}

.card-info-c {
    background-color: #11a2b2;
    color: #f8f9f7;
}

.card-light-c {
    background-color: #f8f9f7;
    color: #0a000e;
}

.card-dark-c {
    background-color: #0a000e;
    color: #f8f9f7;
}

.card-link-c {
    background-color: #1177ff;
    color: #f8f9f7;
    background-color: transparent;
    color: #1177ff;
}

.card-outline-prim-c {
    color: #1177ff;
    border: 1px solid #1177ff;
}

.card-outline-secondary-c {
    color: #9daaa0;
    border: 1px solid #9daaa0;
}

.card-outline-success-c {
    color: #22aa44;
    border: 1px solid #22aa44;
}

.card-outline-danger-c {
    color: #cc3b3b;
    border: 1px solid #cc3b3b;
}

.card-outline-warning-c {
    color: #ffbb33;
    border: 1px solid #ffbb33;
}

.card-outline-info-c {
    color: #11a2b2;
    border: 1px solid #11a2b2;
}

.card-outline-light-c {
    color: #f8f9f7;
    border: 1px solid #f8f9f7;
}

.card-outline-dark-c {
    color: #0a000e;
    border: 1px solid #0a000e;
}

.nav,
#Simple_Nav {
    height: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px 0 0;
}

.nav_links li a {
    color: white;
    transition: 0.3s ease 0.1s;
}

.nav_links li a:hover {
    color: blue;
}

#Simple_Nav {
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start;
}

.nav-prim-c {
    background-color: #1177ff;
    color: white;
}

.nav-secondary-c {
    background-color: #9daaa0;
    color: white;
    color: black;
}

.nav-success-c {
    background-color: #22aa44;
    color: white;
}

.nav-danger-c {
    background-color: #cc3b3b;
    color: white;
}

.nav-warning-c {
    background-color: #ffbb33;
    color: white;
}

.nav-info-c {
    background-color: #11a2b2;
    color: white;
}

.nav-light-c {
    background-color: #f8f9f7;
    color: white;
    color: #2c3226;
}

.nav-dark-c {
    background-color: #0a000e;
    color: white;
}

.nav-transparent {
    background-color: transparent;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

#navColors {
    justify-content: center;
}

.nav_logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.nav_logo img {
    height: 50px;
    border-radius: 50%;
    margin: 1rem;
}

.nav_reverse-dir {
    flex-direction: row-reverse;
}

#Nav-with-Logo {
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
}

.nav_menu_btn {
    display: block;
    margin: 0 1rem;
}

.nav_menu_btn button {
    padding: 9px 25px;
    background-color: #608f9b;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav_menu_btn button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transition: 0.3s ease;
}

#Nav-with-Button {
    justify-content: space-evenly;
    justify-content: space-around;
    justify-content: space-between;
}

#Nav-with-Logo-Button {
    height: 80px;
    justify-content: space-between;
}

#Nav-with-Logo-Button .nav_logo .navbar-brand {
    color: white;
}

.nav.order .nav_logo,
.order#Simple_Nav .nav_logo {
    order: 3;
}

.nav.order .nav_links,
.order#Simple_Nav .nav_links {
    order: 4;
}

.nav.order .nav-form-inline,
.order#Simple_Nav .nav-form-inline {
    order: 1;
}

.nav.order .nav_menu_btn,
.order#Simple_Nav .nav_menu_btn {
    order: 2;
}

#Nav-item-positioning {
    justify-content: space-between;
}

.nav,
#Simple_Nav {
    height: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px 0 0;
}

.nav_links li a {
    color: white;
    transition: 0.3s ease 0.1s;
}

.nav_links li a:hover {
    color: blue;
}

.nav_logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.nav_logo img {
    height: 50px;
    border-radius: 50%;
    margin: 1rem;
}

.nav_reverse-dir {
    flex-direction: row-reverse;
}

.nav_menu_btn {
    display: block;
    margin: 0 1rem;
}

.nav_menu_btn button {
    padding: 9px 25px;
    background-color: #608f9b;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav_menu_btn button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transition: 0.3s ease;
}

.nav.order .nav_logo,
.order#Simple_Nav .nav_logo {
    order: 3;
}

.nav.order .nav_links,
.order#Simple_Nav .nav_links {
    order: 4;
}

.nav.order .nav-form-inline,
.order#Simple_Nav .nav-form-inline {
    order: 1;
}

.nav.order .nav_menu_btn,
.order#Simple_Nav .nav_menu_btn {
    order: 2;
}

.position-left {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.position-left>ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.position-left .nav_logo {
    flex-direction: column;
}

.position-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.position-top>ul li {
    padding: 0 1.5rem;
}

.position-right {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.position-right>ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.position-right .nav_logo {
    flex-direction: column;
}

.position-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.position-bottom>ul li {
    padding: 0 1.5rem;
}

#Nav-positioning {
    max-width: 1024px;
    justify-content: space-evenly;
}

#Nav-positioning .nav_logo {
    order: 1;
}

#Nav-positioning .nav_links {
    order: 2;
}

#Nav-positioning .nav-form-inline {
    order: 3;
}

#Nav-positioning .nav_menu_btn {
    order: 4;
}

.col {
    position: relative;
    width: 100%;
    padding: 0 1em;
}

.col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
    max-width: 25%;
}

.col-md-1 {
    grid-template-columns: repeat(1, 1fr);
    max-width: 50%;
}

.col-lg-1 {
    grid-template-columns: repeat(1, 1fr);
    max-width: 75%;
}

.col-1 {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
}

.col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 25%;
}

.col-md-2 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 50%;
}

.col-lg-2 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
}

.col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
    max-width: 25%;
}

.col-md-3 {
    grid-template-columns: repeat(3, 1fr);
    max-width: 50%;
}

.col-lg-3 {
    grid-template-columns: repeat(3, 1fr);
    max-width: 75%;
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
}

.col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 25%;
}

.col-md-4 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 50%;
}

.col-lg-4 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 75%;
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
}

.col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
    max-width: 25%;
}

.col-md-5 {
    grid-template-columns: repeat(5, 1fr);
    max-width: 50%;
}

.col-lg-5 {
    grid-template-columns: repeat(5, 1fr);
    max-width: 75%;
}

.col-5 {
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
}

.col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
    max-width: 25%;
}

.col-md-6 {
    grid-template-columns: repeat(6, 1fr);
    max-width: 50%;
}

.col-lg-6 {
    grid-template-columns: repeat(6, 1fr);
    max-width: 75%;
}

.col-6 {
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
}

form {
    display: block;
    margin-top: 0;
}

form label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

form .form-group {
    margin-bottom: 1rem;
}

form .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em+0.75rem+2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #485057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form .form-text {
    display: block;
    margin-top: 0.25rem;
}

form .form .text-muted {
    color: #6c757d !important;
}

form .form .small,
form .form small {
    font-size: 80%;
    font-weight: 400;
}

.form-inline {
    display: inline-block;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.form-row {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.form-grid {
    display: grid;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.col-25 {
    gap: 25%;
}

.col-50 {
    gap: 50%;
}

.col-75 {
    gap: 75%;
}